<p id="top"> Welcome! What's Popular now: </p>

<div class="page">
  <button (click)="prevPage()">Previous page</button>
  {{page}}
  <button (click)="nextPage()">Next page</button>
</div>


<div *ngIf="response">
  <div class="top-rated-movies">
    <div class="movie-details" *ngFor="let result of response.results">
      <a routerLink="/moviedetail/{{result.id}}">
        <img class="poster" src="https://image.tmdb.org/t/p/w200{{result.poster_path}}">
        <span class="title" id=title>Title:{{result.title}}</span>
      </a>
        <span class="rating">Rating:{{result.vote_average}}</span>
        <span class="release-date">Released:{{result.release_date}}</span>
    </div>
  </div>
</div>

<div class="page">
  <button (click)="prevPage()">Previous page</button>
  {{page}}
  <button (click)="nextPage()">Next page</button>
</div>
